<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ title }}</title>
    <link rel="stylesheet" href="/css/chatroom.css">
    <script src="https://code.jquery.com/jquery-1.11.0.min.js"></script>
    <script src="/socket.io/socket.io.js"></script>
    <script>
        $(function(){
            var host = '{{config.host}}';
            var socket = io.connect(host + '/roomlist');
            
            socket.on('connect', function(data){
                console.log("connection established");                
            });
            
            socket.on('roomupdate', function(data) {
                popList(data);
            });
            
            function popList(data){
                 var  $roomlist = $('.roomlist');
                $roomlist.empty();
                if(data.length > 2){
                    var procData = JSON.parse(data);
                    for(var i = 0; i < procData.length; i++){
                        var str = '<a href="room/' + procData[i].room_number + '" ><li>' + procData[i].room_name + '</li></a>';
                        $roomlist.prepend(str);
                    }
                } else {
                        var str = '<li style="color:red;"> Sorry No Chat Rooms</li>';
                        $roomlist.prepend(str);

                }
            }
            
            $(document).on('click', '#create', function(){
                var room_name = $('.newRoom').val();
                if(room_name !== ''){
                    var room_number = parseInt(Math.random() * 10000);
                    socket.emit('newroom', {room_name:room_name, room_number:room_number});
                    $('.newRoom').val('');
                }
            });
        });
    </script>
</head>
<body>
    <div class="cr-container">
        <h1 class="cr-title">ChatCAT</h1>
        <div class="cr-userbox">
            <img src="{{user.profilePic}}" class="userPic">
            <h3 class="userName">{{user.fullname}} | <a href="/logout">Logout</a></h3>
        </div>
        <div class="cr-newroom">
            <input type="text" class="newRoom" autocomplete="off">
            <button id="create">Create Room</button>
        </div>
        <div class="cr-roomlist">
            <ul class="roomlist" id="roomlist">
                <li class="loading"> Loading Chat Rooms</li>
            </ul>
        </div>
    </div>
</body>
</html>