<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{title}}</title>
    <link rel="stylesheet" href="../css/room.css">
    <script src="https://code.jquery.com/jquery-1.11.0.min.js"></script>
<script src="/socket.io/socket.io.js"></script>
    <script>
        $(function(){
            var host = '{{config.host}}';
            var messages = io.connect(host + '/messages');
            var roomNum = '{{room_number}}';
            var userName = '{{user.fullname}}';
            var userPic = '{{user.profilePic}}';
            
            
            messages.on('connect', function(data){
                console.log("Connection Established");
                messages.emit('joinroom', {room: roomNum, user: userName, userPic: userPic});
            });
            
            messages.on('messagefeed', function(data) {
               var dataObj = JSON.parse(data); 
                updateMessageFeed(dataObj.userPic, dataObj.userName, dataObj.message);
            });
            
            messages.on('updateUserList', function(data) {
                var userList = JSON.parse(data);
                $('.users').empty();
                for(var i = 0; i < userList.length; i++){
                    var str = '<li><img src="'+ userList[i].userPic + '"/><h5>' + userList[i].user + '</h5></li>';
                }
                $('.users').prepend(str);
            });
            
            setInterval(function(){
                messages.emit('updateList', {room: roomNum})
            }, 15000);
            
            $(document).on('keyup','.newmessage', function(e){
                if(e.which === 13 && $(this).val()!=''){
                    messages.emit('newMessage', {
                        room_number: roomNum,
                        user: userName,
                        userPic: userPic,
                        message: $(this).val()
                    })
                    updateMessageFeed(userPic, userName, $(this).val());
                    $(this).val('');
                }
            });

            function updateMessageFeed(userPic, userName, message){
                var str = '<li>' +
                    '<div class="msgbox">' +
                        '<div class="pic"><img src="' + userPic + '">' + userName + '</div>' +
                        '<div class="msg"><p>' + message + '</p></div>' +
                    '</div>' +
                '</li>'
                $(str).hide().appendTo($('.messages')).slideDown(100);
            }
        });
    </script>
</head>
<body>
<div class="rm-container">
        <h1 class="rm-title">ChatCAT</h1>
        <div class="rm-userbox">
            <img src="{{user.profilePic}}" class="userPic">
            <h3 class="userName">{{user.fullname}}</h3>
            <span class='nav-btn'>
                <a href="/chatrooms">More Chatrooms</a>
                <a href="/logout">Logout</a>
            </span>
        </div>
        <div class="rm-roomname">
            <h5>{{title}}</h5>
        </div>
        <div class="rm-messages">
            <ul class="messages">
            </ul>
        </div>
        <div class="rm-users">
            <ul class="users">
                
            </ul>
        </div>
        <div class="rm-newmessage">
            <input type="text" class="newmessage" autocomplete="off" placeholder="Type in your message and press enter !">
            
        </div>
    </div>
</body>
</html>