@import url(https://fonts.googleapis.com/css?family=Audiowide);
@import url(https://fonts.googleapis.com/css?family=Open+Sans:300);

body {
    font-family: 'Open Sans', sans-serif;
}

a {
    color: #000;
    text-decoration:none;
    margin-left: 6px;
    padding: 4px;
}

.rm-container {
    position:absolute;
    width: 960px;
    top:0px;
    bottom:0px;
    left:0px;
    right:0px;
    margin:auto;
}

.nav-btn{
    float: right;
    font-weight: bold;
    margin: 15px;
}

.rm-title {
    font-family: 'Audiowide', cursive;
    border-bottom:1px solid;
}

.rm-userbox {
    border:1px solid rgba(0,0,0,0.5);
    position:relative;
    height:50px;
    margin-bottom:5px;
   
}

.rm-roomname {
    border:1px solid;
    height:20px;
    margin-bottom:5px;
    background:#000;
}

.rm-roomname h5 {
    color:#FFF;
    margin:0px;
    position:relative;
    top:1px;
    left:5px;
    font-family: 'Open Sans', sans-serif;
}

.userPic {
    position:absolute;
}

.userName {
    position:absolute;
    top: 17px;
    padding:0px;
    margin:0px;
    left:60px;
    font-size: 13px;
    font-family: 'Open Sans', sans-serif;
    
}

.rm-newmessage {
    border:1px solid rgba(0,0,0,0.5);
    height: 75px;
    margin-bottom:5px;
    
    clear: both;
}

.rm-messages {
    border:1px solid;
    position: relative;
    height: 534px;
    width: 692px;
    overflow-x:hidden;
    overflow-y:auto;
    background: rgb(255, 255, 255);
    float: left;
    margin-bottom: 10px;
    margin-right: 10px;
}


.rm-users {
    position:relative;
    border: 1px solid;
    width: 243px;
    padding: 5px;
    float:left;
    height: 523px;
    overflow-x: hidden;
    overflow-y: auto;
    background: rgb(250, 250, 250);
}

.users {
    list-style:none;
    font-family:'Open Sans', sans-serif;
    margin:0px;
    padding:0px; 
}

.users li {
border-bottom:1px dashed;
position:relative;
}

.users li h5 {
    position:absolute;
    top: 11px;
    left: 43px;
    font-family:'Open Sans', sans-serif;
    font-weight:normal;
    margin:0px;
    padding:0px;
}

.users li img {
    width:30px;
}


.newmessage {
    position:absolute;
    padding: 25px;
    margin:0px;
    width: 908px;
    font-size:20px;
    border:0px
}

.messages {
    list-style:none;
    padding:10px;
    margin:0px;
    font-family: 'Open Sans', sans-serif;
}

.msgbox {
    position:relative;
    /* border: 1px solid rgb(247, 247, 247); */
    /* width:500px; */
    height: 91px;
    padding:5px;
    margin-bottom: 10px;
}

.msgbox .pic {
    position:absolute;
    width:50px;
    height: 50px;
    /* border:1px solid; */
    background: rgb(229, 229, 229);
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    overflow: hidden;
}

.msgbox .msg {
    position:absolute;
    min-height: 98px;
    /* height: 220px; */
    width: 200px;
    padding: 2px;
    background: rgb(232, 232, 232);
    width: 604px;
    left: 55px;
    top: 5px;
    overflow-x: hidden;
    overflow-y: auto;
    border-bottom-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    box-shadow:;
}

.msgbox .msg p {
    position:absolute;
    top: 0px;
    bottom: 0px;
    /* display: block; */
    width: 594px;
    margin: auto;
    /* height: auto; */
    font-size: 17px;
    line-height: 21px;
    word-wrap: break-word;
    padding: 6px;
    text-shadow: 0px 0px 1px rgba(0,0,0,0.5);
    /* text-overflow: ellipsis; */
}




